<%- include('partials/global-header') %>

<%- include('partials/page-header', {title: 'Tickets'}) %>

<div class="page-content" id="building-page">
    <div class="bordered-box clearfix">
        <img src="<%= logo.compressedUrl %>" class="side-logo" />

        <h2><%= building.name %></h2>

        <% if (building.formattedAddress) { %>
            <p><%= building.formattedAddress %></p>
        <% } %>

        <a href="/report?building=<%= building.id %>" class="button">Report Issue</a>
    </div>

    <%- include('partials/ticket-list', {tickets, showNoTicketsMessage: 'No issues have been reported here yet.'}) %>
</div>

<%- include('partials/copyright-footer') %>
