<%- include('partials/global-header') %>

<%- include('partials/page-header', {title: 'Tickets'}) %>

<div class="page-content" id="building-page">
    <div class="bordered-box clearfix">
        <img src="<%= logo.compressedUrl %>" class="side-logo" />

        <h2><%= building.name %></h2>

        <% if (building.formattedAddress) { %>
            <p><%= building.formattedAddress %></p>
        <% } %>

        <a href="/report?building=<%= building.id %>" class="button">Report Issue</a>
    </div>

    <% if (locations.length > 0) { %>
        <div class="bordered-box">
            <h2>Sub-Locations</h2>

            <ul>
                <% for (location of locations) { %>
                    <li><a href="/locations/<%= location.id %>"><%= location.name %></a></li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <%- include('partials/ticket-list', {tickets, showNoTicketsMessage: 'No issues have been reported here yet.'}) %>
</div>

<%- include('partials/copyright-footer') %>
