<%- include('partials/global-header') %>

<%- include('partials/page-header', {title: website.name}) %>

<div class="page-content" id="home-page">
    <div class="bordered-box clearfix">
        <img src="<%= squareLogo.compressedUrl %>" class="side-logo" />

        <%- paragraphs(website.description) %>

        <% if (website.homeConfiguration === 'SELECT_BUILDING') { %>
            <p>To get started, choose a building:</p>

            <%- include('partials/building-list', {buildings}) %>
        <% } else if (website.homeConfiguration === 'ENTER_CODE') { %>
            <p>To get started, enter your building code:</p>

            <%- include('partials/enter-code') %>
        <% } else if (website.homeConfiguration === 'SELECT_BUILDING_OR_ENTER_CODE') { %>
            <p>To get started, choose a building or enter a building code.</p>

            <h2>Building</h2>

            <%- include('partials/building-list', {buildings}) %>

            <h2>Enter Code</h2>

            <%- include('partials/enter-code') %>
        <% } %>
    </div>
</div>

<%- include('partials/copyright-footer') %>
