<%- include('partials/global-header') %>

<%- include('partials/page-header', {title: 'Reset Password For ' + website.name}) %>

<div class="page-content" id="login-page">
    <div class="bordered-box">
        <h1>Reset Password</h1>

        <p>Enter your new password below.</p>

        <form id="reset-password-form">
            <p>
                <input type="password" name="newPassword" placeholder="New password..." />
            </p>

            <p>
                <input type="submit" value="Save" />
            </p>

            <input type="hidden" name="userId" value="<%= userId %>" />
            <input type="hidden" name="changePasswordToken" value="<%= changePasswordToken %>" />
        </form>
    </div>

    <p>
        <a href="/login" class="button">Remembered your password?</a>
    </p>

    <p>
        <a href="/register" class="button">Register</a>
    </p>
</div>

<%- include('partials/copyright-footer') %>
