<%- include('partials/global-header') %>

<%- include('partials/page-header', {title: 'Ticket'}) %>

<script>
    window.ticketId = '<%= ticket.id %>';
    attemptToEnablePushNotifications();
</script>

<div class="page-content" id="ticket-page">
    <div class="details-section bordered-box">
        <p>
            <b>Category:</b>
            <%= category.name %>
        </p>

        <div class="description">
            <b>Description:</b>
            <div>
                <%- paragraphs(ticket.description) %>
            </div>
        </div>

        <% if (locationText) { %>
            <p>
                <b>Location:</b>
                <% if (locationLink) { %>
                    <a href="<%= locationLink %>"><%= locationText %></a>
                <% } else { %>
                    <%= locationText %>
                <% } %>
            </p>
        <% } %>

        <% if (asset) { %>
            <p>
                <b>Asset:</b>
                <%= asset.name %>
            </p>
        <% } %>

        <% additionalQuestionAnswers.filter(a => a.hasAnswer).forEach(answer => { %>
            <p>
                <b><%= formatQuestionLabel(answer.questionLabel) %></b>
                <%= answer.answers.join(', ') %>
            </p>
        <% }); %>

        <p>
            <b>Reported:</b>
            <%= formatDateTime(ticket.createdAt) %>
        </p>
    </div>

    <% if (isStatusEnabled) { %>
        <div class="progress-section">
            <h3>Progress</h3>

            <div class="progress-container">
                <img class="progress-image" src="<%= progressBarPath %>" />

                <div class="progress-text-container">
                    <div class="progress-text">REPORTED</div>
                    <div class="progress-text">IN PROGRESS</div>
                    <div class="progress-text">RESOLVED</div>
                </div>
            </div>
        </div>
    <% } %>

    <% if (isStatusEnabled || areCommentsEnabled) { %>
        <div class="notifications-section bordered-box">
            <h3>Notifications</h3>

            <p>Would you like to receive progress updates through notifications and emails?</p>

            <div class="switch-container" id="is-subscribed-to-updates">
                <label class="switch-toggle">
                    <input type="checkbox" <%= isSubscribedToUpdates ? 'checked="checked"' : '' %> />
                    <span class="slider"></span>
                </label>
                <label class="switch-label">
                    <%= isSubscribedToUpdates ? 'Yes' : 'No' %>
                </label>
            </div>
        </div>
    <% } %>

    <div class="image-section">
        <h3>Photo</h3>

        <% if (images.length > 0) { %>
            <img src="<%= images[0].compressedUrl %>" />
        <% } else { %>
            <p>No photo was taken for this ticket.</p>
        <% } %>
    </div>

    <% if (updates.length > 0 || (isOwnTicket && areCommentsEnabled)) { %>
        <div class="updates-section bordered-box <%= updates.length > 0 ? 'has-updates' : 'no-updates' %>">
            <h3>Updates</h3>

            <% if (updates.length === 0) { %>
                <p>There aren't any updates yet!</p>
            <% } else { %>
                <%- include('partials/ticket-update-list', {updates, isOwnTicket}) %>
            <% } %>

            <% if (isOwnTicket && areCommentsEnabled) { %>
                <div id="add-comment-form">
                    <button id="add-comment-button">
                        <i class="ff-icon ff-comment"></i>
                        Add Comment
                    </button>

                    <form id="add-comment-form-inputs">
                        <label for="add-comment-text-value">
                            Comment (private between you and the maintenance team):
                        </label>

                        <textarea
                            id="add-comment-text-value"
                            placeholder='Comment here...'
                            autofocus></textarea>

                        <button id="send-comment-button">
                            <i class="ff-icon ff-comment"></i>
                            Send Comment
                        </button>
                    </form>
                </div>
            <% } %>
        </div>
    <% } %>

    <% if (canBeReopened && isStatusEnabled) { %>
        <div id="reopen-section">
            Unsatisfied? Re-Open Ticket
        </div>
    <% } %>

    <% if (ticket.status !== 'CLOSED' && isOwnTicket && isStatusEnabled) { %>
        <div id="close-section">
            No Longer Relevant? Close Ticket
        </div>
    <% } %>
</div>

<%- include('partials/copyright-footer') %>
