<div class="ticket-update">
    <%
    title = getUpdateTitle(update)
    icon = getUpdateIcon(update)
    commentVisibility = getUpdateCommentVisibility(update)
    updater = getUpdateUpdaterDescription(update, isOwnTicket)
    %>

    <div class="top-row">
        <% if (icon) { %>
            <i class="ff-icon <%= icon %>"></i>
        <% } %>

        <p class="title">
            <%= (update.hasComment && commentVisibility) ? commentVisibility : title %><!--
            --><%= updater ? `, by ${updater}` : '' %>
        </p>

        <p class="date">
            <%= formatDateTime(update.createdAt) %>
        </p>
    </div>

    <% if (update.hasComment) { %>
        <div class="update-content">
            <%- paragraphs(update.comment) %>
        </div>
    <% } %>

    <% if (update.hasDueDateOrTimeChanged) { %>
        <div class="update-content">
            Due:
            <%= formatLocalDateTime(update.newDueDate, update.newDueTime) %>
        </div>
    <% } %>

    <% if (update.hasPriorityChanged) { %>
        <div class="update-content">
            Priority is:
            <%= formatTicketPriority(update.newPriority).toLowerCase() %>
        </div>
    <% } %>

    <% if (update.hasBuildingChanged) { %>
        <div class="update-content">
            Building is:
            <%= (update.newBuilding ? update.newBuilding.name : 'none') %>
        </div>
    <% } %>

    <% if (update.hasNewFormInstance) { %>
        <div class="update-content">
            Form has been named "<%= update.newFormInstance.name %>"
        </div>
    <% } %>

    <% if (update.hasInternalAction && update.internalActionValue) { %>
        <div class="update-content">
            <%- paragraphs(update.internalActionValue) %>
        </div>
    <% } %>

    <% if (update.hasInternalAction && update.internalActionImage) { %>
        <div class="update-content">
            <a href="<%= update.internalActionImage.untouchedUrl %>" target="_blank">
                <img height="100" class="comment-image" src="<%= update.internalActionImage.compressedUrl %>" />
            </a>
        </div>
    <% } %>
</div>
